<!DOCTYPE html>
<html>
	<head>
		<title>LinkedIn Profile Extractor</title>
		<link rel="stylesheet" href="../static/css.css">
	</head>
	<body>

		<div class="main">
			<div class="top">
				<span>Output Page</span>
			</div>
			<div class="result">
				<p>Name: <span>{{result.Name}}</span></p>
				<p>Title Description: <span>{{result.Title}}</span></p>
				<p>Location: <span>{{result.Location}}</span></p>
				<p>About: <span>{{result.About}}</span></p>
				<p>Experiences: <span>{{result.Experiences}}</span></p>
				<p>Education: <span>{{result.Educations}}</span></p>
				<p>Recommendations: <span>{{result.Recommendations}}</span></p>
			</div>
		</div>
	<div class="end">
			<p>information from <a href="https://linkedin.com">linkedin.com</a></p>
			<p>written by <a href="https://github.com/norahty">norahty</a></p>
		</div>
	</body>
</html>
